<div class="container-fluid">
    <div class="row">
        <div class="col-xs-4 center-block">
            <div class="page-header">
                <h1><%= pageTitle %></h1>
            </div>
            <ol class="breadcrumb">
                <li><a href="/">Go Home</a></li>
            </ol>
            <% if ( message.length > 0) { %>
              <div class="alert alert-danger"><%= message %></div>
            <% } %>
            <form action="/<%= action %>" method="post" id="<%= action%>">
                <div class="form-group">
                    <label for="exampleInputEmail1">Email address</label>
                    <input type="email" class="form-control" placeholder="Email" name="email">
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">Password</label>
                    <input type="password" class="form-control" placeholder="Password" name="password">
                    <input type="hidden" name="_csrf" value="<%= csrf %>" />
                </div>
                <button type="submit" class="btn btn-primary"><%= pageTitle %></button>

                <% if(pageTitle === 'Login'){ %>
                    <a href="/login/facebook" type="submit" class="btn btn-primary">Login via Facebook</a>

                <script>
                  window.fbAsyncInit = function() {
                    FB.init({
                      appId      : '234685973706060',
                      cookie     : true,
                      xfbml      : true,
                      version    : 'v2.8'
                    });
                    FB.AppEvents.logPageView();
                  };

                  (function(d, s, id){
                    var js, fjs = d.getElementsByTagName(s)[0];
                    if (d.getElementById(id)) {return;}
                    js = d.createElement(s); js.id = id;
                    js.src = "//connect.facebook.net/en_US/sdk.js";
                    fjs.parentNode.insertBefore(js, fjs);
                  }(document, 'script', 'facebook-jssdk'));
                </script>
                <% } %>
            </form>
        </div>
    </div>
</div>